.video-card {
  text-decoration: none;
  color: var( --text-primary);
}
.card {
    border: none;
    width: 22.8rem;
    height: 20rem;
    margin: 0.7rem;
  }
  .thumbnail-container {
    overflow: hidden;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 */
    position: relative;
  }
  .thumbnail-container img {
    position: absolute;
    top: -20%; 
    bottom: 0; 
    left: 0; right: 0;
  }
  .card-content {
    display: flex;
    position: relative;
    top: 0.6rem;
  }
  .channel-details {
    text-align: left;
    margin-left: -1rem;
  }
  .channel-details-footer {
    color: var(--text-secondary);
    position: relative;
    left: 0.3rem;
  }
  .card-content * {
    padding: 0.1rem;
  }
  .card-content button {
    padding: 0.4rem;
    margin-top: 0.4rem;
  }

@media only screen and (max-width: 600px) {
  
  .card {
    border: none;
    width: 25.7rem;
    height: 23.2rem;
    margin: 0;
  }
}