.all-videos-conatiner {
    position: absolute;
    left: 14rem;
    top: 8rem;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    background-color: var(--text-primary-inverse);
}
.videos-list {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 1rem;
    top: 0rem;
    background-color: var(--text-primary-inverse);
}

@media only screen and (max-width: 600px) {
    .videos-list {
       left: 0;
    }
  }