.all-videos-conatiner {
    position: absolute;
    left: 14rem;
    top: 8rem;
    width: 100%;
    /* max-height: 100%; */
    min-height: 100%;
    /* border: 2px solid red; */
    background-color: var(--main-body-background);
}
.videos-list {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 1rem;
    top: 0;
    background-color: var(--main-body-background);
}

@media only screen and (max-width: 480px) {
    .all-videos-conatiner {
        left: 0;
    }
    .videos-list {
       left: 0;
    }
  }